# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store
/.idea*

# umi
/master/src/.umi-production
/master/src/.umi-test
/master/.env.local
/app1/src/.umi
/app1/src/.umi-production
/app1/src/.umi-test
/app1/.env.local
